/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
    --primary: #1aac83;
    --error: #e7195a;
    box-sizing: border-box;
}
body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Poppins";
}
header {
    background: #fff;
}
header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: #333;
    text-decoration: none;
}
.pages {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

/* homepage */
.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}

/* login form */
label,
input {
    display: block;
}
input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
}
div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}
input.error {
    border: 1px solid var(--error);
}

/* navbar */
nav {
    display: flex;
    align-items: center;
}

nav button {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

/* mastermind game */
.game-title {
    font-size: 5rem;
    margin: auto;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 500px;
    background-color: rgb(158, 114, 97);
    border-radius: 7% / 50%;
    margin-top: 25px;
}

.btn {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
    min-height: 50px;
    min-width: 120px;
}

.btn.play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 5px solid var(--primary);
    font-size: 2rem;
    position: absolute;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--primary);
}

.game-rules {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(38px);
    padding: 10px;
    width: 600px;
    background-color: white;
    border: 5px solid var(--primary);
}

.slot-container {
    display: grid;
    width: 800px;
    height: 300px;
    grid: 1fr / repeat(11, 1fr);
    justify-content: space-between;
    align-items: center;
    background-color: rgb(158, 114, 97);
    border: 2px solid rgb(158, 114, 97);
}

.slot {
    display: grid;
    height: 100%;
    grid: 1fr 100px / 1fr;
    background-color: rgb(158, 114, 97);
}

/* .slot:first-child {
    margin-right: 10px;
} */

.guess-slot {
    display: grid;
    grid: repeat(4, 1fr);
    justify-content: space-around;
    height: 225px;
    padding: 0 0;
}

.large-marble {
    width: 30px;
    height: 30px;
    margin: auto;
    border: 5px solid rgb(138, 91, 77);
    border-radius: 50%;
    background-color: rgb(56, 36, 31);
}

.feedback-slot {
    display: grid;
    grid: 1fr 1fr/ 1fr 1fr;
    height: 45px;
    justify-content: space-around;
    padding: 0 15px;
}

.small-marble {
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(56, 36, 31);
    border: 2px solid rgb(138, 91, 77);
}

.large-marble,
.small-marble:hover {
    cursor: pointer;
}

.marble-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 75px;
    background-color: rgb(56, 36, 31);
    border-radius: 8% / 50%;
    margin: 0px 25px 0 25px;
}

/* feedback marbles */

.small-marble.correct-pos {
    width: 15px;
    height: 15px;
    background-color: black;
}

.small-marble.correct-color {
    width: 15px;
    height: 15px;
    background-color: white;
}

.small-marble.incorrect {
    width: 15px;
    height: 15px;
    background-color: gray;
}

/* marble colors */
.red-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: darkred;
    margin: 0 10px;
}

.purple-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: purple;
    margin: 0 10px;
}

.green-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: green;
    margin: 0 10px;
}

.yellow-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: yellow;
    margin: 0 10px;
}

.blue-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightskyblue;
    margin: 0 10px;
}

.orange-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: orange;
    margin: 0 10px;
}

.pink-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: plum;
    margin: 0 10px;
}

.light-green-marble {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgreen;
    margin: 0 10px;
}

.hidden {
    display: none;
}

.marble:hover {
    cursor: pointer;
}

.large-marble.blackout {
    background-color: gray;
}

.rules-black-marble {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(56, 36, 31);
    background-color: black;
}

.rules-white-marble {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(56, 36, 31);
    background-color: white;
}
